.auctionMainDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 5%;
    margin-top: 2%;
}


.modifyInputDiv{
}

.auctionParticipateDiv{
    margin-left: 4rem;
}

.auctionInputDiv{
    width: 100%;
    max-width:37.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
}

.auctionFormInputs{
    margin: 1%;
    margin-top:1%;
    max-width: 300px;
}
.form-label{
    margin-left: 2%;
}


.errorMessage{
    color:red;
    font-size: large;
}


.auctionDescriptionDiv{
    text-align: center;
    min-height: 7rem;

    border: 2px solid black ;
}
.auctionDescription{
    margin-top: 0.5rem;
}

.auctionCountdownDiv{
    margin-bottom: 1%;
}


.auctionDataGridDiv{
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
}
.auctionReactDataGrid{
    min-width: 40rem;
    
}

.AuctionItemSpinnerDiv{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselImage{
    max-height: 700px;
    max-width: 420px;
}

.carouselMainDiv{
    width: 800px;
    height: 700px;
}
.carouselTitle{
    font-size: 52px;
}
.auctionCarouselImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-label{
    color: white;
}