.homeMainDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 5%;
    margin-top: 2%;
}


.modifyInputDiv{
}

.homeParticipateDiv{
    margin-left: 4rem;
}

.homeInputDiv{
    width: 100%;
    max-width:37.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
}

.homeFormInputs{
    margin: 1%;
    margin-top:1%;
    max-width: 300px;
}
.form-label{
    margin-left: 2%;
}


.errorMessage{
    color:red;
    font-size: large;
}

.carouselImage{
    max-height: 63rem;
}
.homeCarouselDiv{
}
.carouselTitle{
    font-size: 52px;
}

.homeDescriptionDiv{
    text-align: center;
    min-height: 7rem;

    border: 2px solid black ;
}
.homeDescription{
    margin-top: 0.5rem;
}

.homeDataGridDiv{
    display: flex;
    flex-direction: row;

    margin-right: 1.5rem;
}

.auctionReactDataGrid{
    min-width: 50rem;
    
}

.AuctionItemSpinnerDiv{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
