@media (max-width: 1399.98px) { 
    .carouselImage{
        max-height: 40rem;
    }
 }
 @media (min-width: 1400px) { 
    .carouselImage{
        max-height: 50rem;
    }
 }

@media (max-width: 1199.98px) { 
    .auctionMainDiv{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .auctionContentMainDiv{
        margin-left: 8%;
    }
    .auctionCarouselMainDiv{
        margin-left: 8%;
    }

    .auctionDataGridTitleDiv{
        flex-direction: column;
    }
 }
 @media (min-width: 1200px) { 
    .auctionMainDiv{
        flex-direction: row-reverse; 
        margin-top: 2%;
    }
 }

 @media (max-width: 991.98px) {
    .carouselImage{
        max-height: 40rem;
    }

 }
 @media (min-width: 992px) {
 }

@media (max-width: 767.98px) {
    .auctionContentMainDiv{
        margin-left: 4%;
    }
    .auctionCarouselMainDiv{
        margin-left: 4%;
    }



    .auctionDataGridTitleDiv{
        font-size: smaller;
    }


    .auctionInputDiv{
        flex-direction: row;
    }
    .auctionModifyInputMainDiv{
        width: 100%;
        max-width:768px;
    }
    .auctionModifyInputDiv{
        display: flex;
        flex-direction: column-reverse;
    }
    .auctionModifyFormInputs{
        display: flex;
        flex-direction: row;
    }

    .auctionModifyInputDivVariant2{
        visibility: visible;
    }
    .auctionModifyInputDivVariant1{
        visibility: hidden;
    }


 }
 @media (min-width: 768px) {
    .auctionModifyInputDivVariant2{
        visibility: hidden;
    }
    .auctionInputDiv{
        flex-direction: row;
    }
    .auctionReactDataGrid{
    }
    .auctionModifyInputMainDiv{
        /* flex:2; */
        max-width: 350px;
    }
 }


.auctionMainDiv{
    display: flex;
    margin: 5%;
    justify-content: center;
}
.auctionCarouselMainDiv{
    flex: 2;
    max-width: 800px;
}

.auctionContentMainDiv{
    flex:2;
    max-width:52rem;
    margin-right: 1rem;
}


.auctionTitleDiv{
    display: flex;
    justify-content: center;
}
.auctionTitle{
    font-size: 40px;
}




.auctionParticipateDiv{
    margin-right: 4rem;
    /* flex:2; */
}

.auctionInputDiv{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.auctionFormInputs{
    margin: 1%;
    margin-top:1%;
    max-width: 300px;
}
.form-label{
    margin-left: 2%;
}


.errorMessage{
    color:red;
    font-size: large;
}


.auctionDescriptionDiv{
    text-align: center;
    min-height: 7rem;
    margin-top: 1.5rem;
}
.auctionDescriptionDiv hr {
    background-color: black;
    height: 1.5px;
    width: 100%;
    color:black;
}
.auctionDescription{
    margin-top: 0.5rem;
}

.auctionCountdownDiv{
    margin-bottom: 2%;
}


.auctionDataGridDiv{
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
}
.auctionReactDataGrid{
    min-width: 25rem;
    /* background-color: #1b1e24 !important; */
    color:#1b1e24 !important;
    /* border-color: #1b1e24  !important; */
}
.auctionReactDataGridRows{
    /* background-color: #1b1e24 !important; */
    /* color:white;s */
}
.auctionReactDataGridSingle{
    margin-top: 1rem;
}



.AuctionItemSpinnerDiv{
    width: 100%;
    height: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carouselTitle{
    font-size: 52px;
}
.auctionCarouselImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-label{
    color: white;
}


.phonenumberCollapseTitle{
    margin: 1%;
    margin-top:1%;
    text-decoration: none;
    color: white;
}
.phonenumberCollapseTitle:hover{
    color: white;
}
.phonenumberCollapseTitle:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}


.nav-tabs{
    border-width: 0px !important; 
}


.auctionOfferFormPasswordText{
    margin-top: 3%;
}
.auctionOfferFormPasswordDiv{
    display: flex;
}


.auctionDataGridTitleDiv{
    display: flex;
    justify-content: space-between;
}