@media (max-width: 409.98px) {
    .headerTitleDiv{
        margin-top: 10px;
    }
    .headerMainDiv{
        display: flex;
        flex-direction: column;
        justify-content: left;
        height: 160px;

    }

    .headerButtonGroupDiv{
        width: 100%;
    }
    .headerButtonGroup{
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}
@media (min-width: 410px) {
    .headerMainDiv{
        height: 100px;
    }

}
@media (max-width: 499.98px) {

    .headerMainDiv h1{
        font-size: small;
    }
    .headerButtonGroup Button{
        height: 35px;
        width: 50px;
        font-size: small;
    }
    .headerCountryIcons{
        width: 1.5rem;
    }
}
@media (min-width: 500px) {
    .headerCountryIcons{
        width: 2.3rem;
        height:30px;
    }
    .headerButtonGroup Button{
        height: 44px;
    }
    .headerButtonGroup{
        max-width: 265px;
    }
    .headerMainDiv{
        height: 90px;
    }
}

.headerButtonGroup{
    margin-right: 1rem;
}
.headerMainDiv{
    background-color: #111111;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.headerTitleDiv{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 4px;
}
.headerTitle{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-decoration: none;
}
.headerTitle:hover{
    color: rgb(255, 255, 255);
}
.headerDefinition{
    color: rgb(255, 255, 255);
    font-size: 11.5px;
    font-family: cursive;
    font-style: italic; 
    text-decoration: none;
    margin-bottom: 10px;
}
.headerDefinition:hover{
    color: rgb(255, 255, 255);
}

.headerLogoutButton{
    margin-right: 1rem;
}



