.headerMainDiv{
    background-color: #111111;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    height: 65px;
    justify-content: space-between;
}

.headerTitle{
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 4px;
}
.headerTitle:hover{
    color: rgb(255, 255, 255);
}


.headerLogoutButton{
    margin-right: 1rem;
}