@media (min-width: 1000px) {
    .registerationForm{
    }
}
@media (max-width: 999.98px ) {
    .registerationForm{
        width: 80%; 
    }
}

@media (min-width: 769px) {
    .registerationFormDiv{
        flex-direction: row;
        align-items: center;

    }
    .registerationFormInputs{
        margin-right:1rem;
    }
}
@media (max-width: 768.98px ) {
    .registerationFormDiv{
        flex-direction: column;
        align-items: start;
    }
    .registerationFormInputs{
        margin-right:0rem;
    }
    .registerationFormDivRow{
    }
}

@media (min-width: 430px) {
    .registerationFormInputs{
        width: 250px;
    }
    .registerationTextFields{
        width: 350px;
    }
}
@media (max-width: 429.98px ) {
    .registerationFormInputs{
        width: 80%;
    }
    .registerationTextFields{
        width: 90%;
    }
    .registerationForm{
        width: 100%;
    }
}

.registerationMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height:1000px;
}
.registerationFormDiv{
    display: flex;
}
.registerationFormDivRow{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.registerationForm{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}
.registerationFormInputs{
    min-height: 94px;
}
.registerationTextFields{
    min-height: 142px;
}

.auctionOfferFormPasswordDiv{
    width: 250px;
}

.registerationButtonDiv{
    margin-top: 1rem;
}