.PrivacyPolicyDescriptionDiv{
    font-size: small;
}
.PrivacyPolicyModal{
    min-height: 215px;
}

.PrivacyPolicyButtonsDiv{
    margin-top: 0.5rem;
}
.PrivacyPolicyButtons{
    margin-left: 1rem;
}


.PrivacyPolicyModalLink{
    font-size: large !important;
    color: var(--bs-link-color) !important;
    text-decoration: underline !important;
}