@media (max-width: 991.98px) {
  .storeCellMainDiv {
    max-width: 350px;
  }
}
@media (min-width: 992px) {
  .storeCellMainDiv {
    max-width: 400px;
  }
}

@media (max-width: 399.98px) {
  .storeCellMainDiv {
    max-width: 250px;
  }
}

.storeCellMainDiv {
  flex-direction: column;
  margin: 1rem;
  width: 100%;
  height: min-content;
  border: 2px solid black;
  text-align: center;
}

.storeCellImgDiv {
  flex: 2;
}

.storeCellImg {
  width: 100%;
}

.fade-out {
  position: relative;
  max-height: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.fade-out hr {
  color: rgba(26, 24, 24, 1);
}
.fade-out-apply:after {
  content: "";
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    rgba(26, 24, 24, 0) 60%,
    rgba(26, 24, 24, 1) 100%
  );
}

/* 231, 231, 231 */
.countdownContainerType{
  text-align: left;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  font-size: 0.9rem;
}
.countdown-container {
  width: 100%;
  padding: 5px;
  margin: 10px auto, 50px, auto;
  /* background-color: rgba(240, 232, 232, 0.144); */
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}


.storeCellContentDiv{
  border: 1px solid;
  /* border-color: #dadd0b; */
  /* border-color: #0437df; */
}
.border-warning {
}