  .user-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
  }
  .userCellDescription{
    max-width: 600px;
  }
  .userCellLinkDiv{
    width: 100%;

  }
  .userCellLink{
    text-decoration: none;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
  }