@media (max-width: 399.98px) {
    .callingCardTextDiv h1{
        padding-left: 5px;
        font-size: 22px;
    }
    
    .callingCardTextDiv p{
        padding-left: 10px;
        font-size: 14px;
    }
    .callingCardImage{
        width: 45px;
        height: 45px;
    }
  }
@media (min-width: 400px) {
    .callingCardTextDiv h1{
        padding-left: 5px;
        font-size: 32px;
    }
    
    .callingCardTextDiv p{
        padding-left: 10px;
        font-size: 16px;
    }
    .callingCardImage{
        width: 60px;
        height: 60px;
    }
  }
  
  

.callingCardMainDiv{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    text-decoration: none;
}


.callingCardTextDiv{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}