.user-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .userCellLinkDiv{
    width: 100%;

  }
  .userCellLink{
    text-decoration: none;
    display: flex;
    align-items:start;
    flex-direction: column;
  }