.callingCardImage{
    width: 60px;
    height: 60px;
}
.callingCardMainDiv{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.callingCardMainDiv h1{
    padding-left: 5px;
    font-size: 2rem;
}