@media (max-width: 767.98px) {
  .auctionControllerLoginModal {
    width: fit-content !important;
  }
}

.auctionControllerMainDiv {
  margin: 4%;
}

.auctionControllerContentMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.renderedImage {
  max-width: 100px;
}


.auctionControllerLoginMainDiv {
  min-height: 45rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auctionControllerLoginButtonDiv{
  display: flex;
  justify-content: left;
  align-items: flex-start;
}


.auctionControllerModifyImagesDiv {
  margin: 3%;
  display: flex;
  flex-direction: row;
}

.auctionControllerBillsReactDataGridDiv {
  width: 100%;
}
.auctionControllerBillsReactDataGrid {
  width: 100%;
}

.auctionControllerButtonsDiv {
  margin-top: 1rem;
  width: 100%;
  max-width: 480px;
  display: flex;
  justify-content: space-between;
}

.controllerFormInputs{
  width: 100%;
}
.controllerFormInputs input{
  max-width: 250px;
}
.controllerFormInputs select{
  max-width: 250px;
}
.controllerFormImageInputDiv{
  margin-top: 1rem;
}
 
.loginControllerFormInputs{
  max-width: 250px;
}


.auctionControllerPostCheckbox{
  display: flex;
  flex-direction: row;
}
.auctionControllerPostCheckbox label{
 margin-right: 5px;
}
.modalCloseButtonMargin{
  margin-right: 10px;
}