.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: white;
}
h2 ,h3 ,h4{
  color: hsl(0, 0%, 75%);
}
p{
  color: white;
}
.appMainDiv{
  background-color: #1b1e24;
}
#root{
  background-color: #1b1e24;
}
.modalCloseButton{

}

.modal-title{
  color:rgb(231, 231, 231);
}
.ModalHeader{
  background-color: #1a1818;
}
.ModalBody{
  background-color: #1b1e24;
}
#ModalFooter{ /*Jostain syystä modalin footterille on määritetty backgroundcolor joten class taso ei toimi ja pitää käyttää id:tä*/
  background-color: #111111;
}

.InovuaReactDataGrid {
  min-height: 100px;
}
/* #282c34 */
