
@media (max-width: 991.98px) { 
  .storeCellMainDiv{
    max-width: 350px;
  }
}
@media (min-width: 992px) { 
  .storeCellMainDiv{
    max-width: 400px;
  }
}
@media (max-width: 399.98px) {

  .storeCellMainDiv{
    max-width: 250px;
  }
  .show-counter {
    padding: 0rem;
    font-size: 1.05rem;
    line-height: 1rem;
  }
  .expired-notice{
    padding: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .expired-notice > span {
    font-size: 17px;
    font-weight: bold;
  }
  
  .expired-notice > p {
    font-size: 12px;
  }
  
}
@media (min-width: 440px) {
  .show-counter {
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
  }
  .expired-notice{
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }

  .expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .expired-notice > p {
    font-size: 1.5rem;
  }
  
}
.storeCellMainDiv{
  flex-direction: column;
  display: flex;
  margin: 1rem;
  width: 100%;
  height: min-content;
  border: 2px solid black ;
  text-align: center;
}

.storeCellImgDiv{
  flex:2;
}

.storeCellImg{
  width: 100%;
}

.show-counter{}

.fade-out {
  position: relative;
  max-height: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.fade-out hr{
  color:rgba(26, 24, 24, 1);

}
.fade-out-apply:after {
  content: '';
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(  rgba(26, 24, 24, 0) 60%, rgba(26, 24, 24, 1) 100% );
}
/* 231, 231, 231 */
/* #region 
Timers css*/

.expired-notice {
    text-align: center;

  }
  



  /* .show-counter p{
  color: #03060c;
  } */

  .show-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    /* border: 2px solid black ; */
    /* border-radius: 0.25rem; */
    text-decoration: none;
    color: #000;
  }
  
  .show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .show-counter .countdown.danger {
    color: #ff0000;
  }
  
  .show-counter .countdown > p {
    margin: 0;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
  }
/* #endregion */