@media (max-width: 549.98px){
    .footerContactsDiv{
        width: 125px ;
    }
    .footerLinksDiv{
        margin-left: 0rem;
        margin-right: 10px;
    }
}
@media (min-width: 550px){
    .footerLinksDiv{
        margin-left: 2rem;
    }
}
@media (max-width: 379.98px){
    .footerContentMainDiv{
        flex-direction: column;
    }
    .footerMainDiv{
        height: 40rem;
    }
}
@media (min-width: 380px){
    .footerContentMainDiv{
        flex-direction: row;
    }
    .footerMainDiv{
        height: 25rem;
    }
}
.footerMainDiv{
    margin-top: auto;
    display: flex;
    width: 100%;
    background-color: #111111; /*#111214*/
    color: rgb(255, 255, 255);
    flex-direction: column;
}


.footerTitleDiv{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    height: 50px;
}

.footerPlugDiv{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.footerContentMainDiv{
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
}
.footerContentMainDiv h3{
    color: white;
}

.footerTitle{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-decoration: none;
}
.footerTitle:hover{
    color: rgb(255, 255, 255);

}

.footerLinksDiv{
    display: flex;
    flex-direction: column;
}
.footerLinksTitle{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
